<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .dropdown ul {
      display: none;
      list-style: none;
      margin: 0;
      border: 1px solid black;
      padding: 10px;
      width: 200px;
    }
    .dropdown.on ul {
      display: block;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" id="user_id" v-model="userId">
    <input type="password" id="user_password" v-model="userPassword">
    <button type="button">로그인</button>
    <br />
    아이디: {{ userId }}
    <br />
    비밀번호: {{ userPassword }}
  </div>
  <div id="app_list">
    <ul style="list-style: none" >
      <template v-for="item in items" >
        <li :id="`thumbnail_${item.id}`" :style="[item.style, item.ontStyle]">
            <img :src="item.image" :class="[item.dropdown, item.toggle]">
        </li>
        <li :class="item.yaho">
          {{ item.title }}
        </li>
      </template>
    </ul>
  </div>
  <div id="app_dropdown">
    <div :class="[dropdown, toggle]">
      <ul>
        <li><a href="#">메뉴1</a></li>
        <li><a href="#">메뉴2</a></li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data() {
        return {
          userId: 'yaho',
          userPassword: '12345'
        }
      }
    })
  </script>
  <script>
    let app_dropdown = new Vue({
      el: '#app_dropdown',
      data() {
        return {
          dropdown: 'dropdown',
          toggle: {
            on: false
          }
        }
      }
    })
  </script>
  <script>
    let app_list = new Vue({
      el: '#app_list',
      data() {
        return {
          items: [
            {
              id: 1,
              image: 'https://picsum.photos/210/118/?image=1',
              title: '컴퓨터',
              style: {
                background: 'tomato',
              },
              fontStyle: {
                fontSize: '10px',
                fontFamily: 'dotum',
              },
              dropdown: "dropdown",
            },
            {
              id: 2,
              image: 'https://picsum.photos/210/118/?image=22',
              title: '야호',
              style: {
                background: 'gold',
              },
              fontStyle: {
                fontSize: '10px',
                fontFamily: 'dotum',
              },
              yaho: {
                yaho: true,
              }
            },
            {
              id: 3,
              image: 'https://picsum.photos/210/118/?image=133',
              title: '브랙퍼스트',
              style: {
                background: 'green',
              },
              fontStyle: {
                fontSize: '10px',
                fontFamily: 'dotum',
              },
              dropdown: 'dropdown',
              toggle: {
                on: true
              }
            },
            {
              id: 4,
              image: 'https://picsum.photos/210/118/?image=44',
              title: '뉴욕'
            },
            {
              id: 5,
              image: 'https://picsum.photos/210/118/?image=155',
              title: '티'
            },
            {
              id: 6,
              image: 'https://picsum.photos/210/118/?image=666',
              title: '웨지우드'
            },

          ]
        }
      }
    })
  </script>
</body>
</html> 